.App {
  text-align: center;
  position: relative;
  color: #383d39;
  background-color: #cfcbcb;
}

.title {
  text-align: left;
  padding-left: 25px;
  padding-top: 20px;
  color: rgb(48, 47, 47);
  font-size: 30px;
}