* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card {
    width: 550px;
    margin: 0 auto;
    background-color: white;
    padding: 7px;
    position: relative;
}
.card:hover {
    background-color: #e8e8e8;
}

.card a {
    width: 26px;
    height: 26px;
    border-radius: 5px;
    position: absolute;
    right: 5px;
    top: 5px;
}

.card a::before,
.card a::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: darkgrey;
    border-radius: 2px;
    top: 9px;
    left: 2px;
}

.card a::before{
    transform: rotate(45deg);
}

.card a::after{
    transform: rotate(-45deg);
}

.card-header {
    display: flex;
    align-items: flex-end;
}

.card-header h3{
    font-family: sans-serif;
    font-style: 20px;
    padding-right: 20px;
}

.card-header span{
    font-family: sans-serif;
    font-style: italic;
    font-style: 16px;
}

.card-body h2{
    font-family: sans-serif;
    padding-top: 30px;
}

.card-body p{
    font-family: sans-serif;
    padding-top: 20px;
}