.card{
    width: 200px;
    border-radius: 15px;
    background-color: white;
}

.cardContainer{
    padding: 10px;
    position: relative;
}


.cardImg{
    width: 160px;
    height: 280px;
}

.cardImg>img{
    width: 100%;
    height: 100%;
}

.cardTitle{
    padding-top: 7px;
    height: 70px;
}

.cardPrice{
    padding-top: 7px;
    font-size: 20px;
    font-weight: bold;
}

.star{
    width: 30px;
    position: absolute;
    right: 5px;
    top: 5px;
}