.div{
    color: #01813F;
}
.background {
    background-image: url(../img/fon1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Ubuntu', sans-serif;
}

.container {
    width: 324px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-logo {
    font-size: 22px;
    color: #FFFFFF;
    margin: 18px 79px;
    transition: .35s;
}

.header-nav {
    position: relative;
    display: flex;
}

.header-nav-svg {
    margin-right: 27px;
    margin-top: 17px;
}

.header-nav-svg>path {
    transition: .35s;
}

.header-nav-singup {
    font-size: 14px;
    color: #FFFFFF;
    margin: 22px 79px 22px 27px;
}

.header-nav-singup>a {
    color: #FFFFFF;
    transition: .35s;
}

.header-nav-singup::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 19px;
    background: rgba(255, 255, 255, 0.9);
    opacity: 0.5;
    left: 148px;
    top: 19px;
}

.main {
    width: 100vw;
    height: 100vh;
    position: relative;

}

.form {
    width: 444px;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.form-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 31px;
}

.form-title-text {
    font-size: 20px;
    color: #434343;

}

.form-title-text::before {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: #3CB878;
    left: 0px;
    top: 33px;
}

.form-title-login {
    font-size: 14px;
    color: #3CB878;
    transition: .35s;
}

.form-button {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.form-button-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 160px;
    height: 48px;
    border: none;
    cursor: pointer;
    transition: .85s;
}

.form-button-item:first-child {
    background: #305DB8;
    border-radius: 5px;
    position: relative;
}

.form-button-item:first-child>h2 {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 900;
    margin-block: 12px;
    padding-left: 17px;
}

.form-button-item:first-child>p {
    font-size: 16px;
    color: #FFFFFF;
    padding-right: 22px;
}

.form-button-item:last-child {
    background: #DF4A32;
    border-radius: 5px;
    position: relative;
}

.form-button-item:last-child>h2 {
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 500;
    margin-block: 14px;
    padding-left: 12px;

}

.form-button-item:last-child>p {
    font-size: 16px;
    color: #FFFFFF;
    padding-right: 27px;
}

.form-button-item:first-child>h2::after,
.form-button-item:last-child>p::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 28px;
    background: #0A162F;
    opacity: 0.1;
    left: 48px;
    bottom: 10px;
}

.form-button-item:last-child>h2::after {
    content: '+';
    position: absolute;
    font-size: 16px;
    font-weight: 600;
    top: 13px;
    left: 34px;
}


.form-or {
    font-size: 14px;
    color: #848484;
    text-align: center;
    margin-top: 31px;
    margin-bottom: 12px;
}

.form-or::before,
.form-or::after {
    content: '';
    position: absolute;
    width: 152px;
    height: 1px;
    background: #F2F2F2;
}

.form-or::before {
    left: 62px;
    top: 154px;
}

.form-or::after {
    right: 62px;
    top: 154px;
}

.form-input>input {
    font-size: 14px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    margin-bottom: 15px;
    padding: 14px 0 16px 20px;
}

.form-input>input::placeholder {
    color: #BEBEBE;
}

.form-input>input:focus {
    border: none;
    outline: none;
    background: #FFFFFF;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
    color: #434343;
}

.form-input {
    display: flex;
    flex-direction: column;
}

.form-input>input:nth-child(5) {
    margin-bottom: 12px;
}

.form-checkbox>span {
    font-size: 14px;
    color: #434343;
}

.form-checkbox>span>a {
    color: #3CB878;
    transition: .35s;
    padding-left: 4px;
}

.form-input>input:last-child {
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 38px;
    transition: .35s;
}

.header-logo:hover {
    color: #236d47;
}

svg>path:hover {
    fill: #236d47;
}

.header-nav-singup>a:hover {
    color: #236d47;
}

.form-title-login:hover {
    color: #01813F;
    text-decoration: underline;
}

.form-button-item:first-child:hover {
    background-color: #022263;
}

.form-button-item:last-child:hover {
    background-color: #AB1F09;
}

.form-checkbox>span>a:hover {
    text-decoration: underline;
    color: #01813F;
}

.form-input>input:last-child:hover {
    background: #01813F;
}

.custom-checkbox>input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-checkbox>span {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.custom-checkbox>span::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #F2F2F2;
    margin-right: 8px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.custom-checkbox>input:not(:disabled):active+span::before {
    background-color: #fff;
    border: 1px solid #F2F2F2;

}

.custom-checkbox>input:checked+span::before {
    border-color: #f2f2f2;
    background-color: #fff;
    background-image: url(../img/check.png);
    background-size: cover;
}


.custom-checkbox>input:disabled+span::before {
    background-color: #e9ecef;
}