* {
    box-sizing: border-box;
}

.container {
    width: 1024px;
    margin: 0 auto;
}

.background {
    background-image: url(../img/background1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

.header {
    display: flex;
    justify-content: space-between;
    margin-top: 46px;
}

.header-contact {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.header-contact>a:first-child,
.header-contact>a:last-child {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}

.header-contact>a:first-child {
    padding-bottom: 19px;


}

.header-logo>img {
    width: 53px;
    height: 47px;
   
}

.header-logo {
    display: flex;
}

.header-title {
    margin-bottom: 5px;
    margin-left: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.heder-title-primary {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 29px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.heder-title-secondary {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
    text-transform: uppercase;
}


.header-contact>a:first-child:hover,
.header-contact>a:last-child:hover {
    color: orangered;
}

.header-logo:hover img {
    content: url('../img/logo\ 2.png')
}


.header-logo:hover h1,
.header-logo:hover h2 {
    color: orangered;
}


.tour {
    margin-top: 22px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 37px 61px;
}

.tour-item {
    position: relative;
    overflow: hidden;
}

.tour-item>img {
    height: 220px;
    width: 300px;
    padding: 3px;
    background-image: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 100%);
}

.tour-item>p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 20px;
}

.tour-item-sentence {
    background-color: #F26522;
    height: 55px;
    width: 300px;
    position: absolute;
    bottom: -200px;
    transition: 0.5s;
}

.tour-item-sentence>p {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    color: #FFFFFF;
    padding-top: 7px;
    margin-left: 16px;
}

.tour-item:hover .tour-item-sentence {
    bottom: 40px;
}

.tour-item:hover .tour-item-title {
    color: #F26522;
}

.tour-item-price {
    display: flex;
    justify-content: space-between;

    margin-top: 8px;
    margin-left: 16px;
    margin-bottom: 12px;
}

.tour-item-price>p:first-child {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #FFFFFF;

}

.tour-item-details {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #FFFFFF;
    padding-top: 6px;
    margin-right: 37px;
}

.tour-item-price>p:first-child::before {
    content: '€';
}

.tour-item-details::after {
    
    width: 5px;
    height: 5px;
    content: '';
    position: absolute;
    transform: translate(-50%, -50%) rotate(45deg);
    border-top: 1px solid white;
    border-right: 1px solid white;
    right: 12px;
    bottom: 12px;
}

.footer>p:only-child {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 49px;
    margin-bottom: 15px;
}