.footer {
    background-color: black;
}

.footer__title {
    @include title;
    color: #FEFEFE;
    text-align: center;
    padding-top: 38px;
    
    @media screen and (min-width : 768px) {
        font-size: 16px;
        padding-top: 57px;
    }

    @media screen and (min-width : 1200px) {
        padding-top: 66px;
    }
}

.footer__subtitle {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    padding-top: 8px;
    padding-inline: $margin-left-s;
    color: $secondory-color;

    @media screen and (min-width : 768px) {
        padding-top: 22px;
        line-height: 28px;
    }
}

.footer__subtitle-add{
    display: none;

    @media screen and (min-width : 768px) {
        display: block;
        line-height: 28px;
    }
}

.footer__social {
    padding-block: 25px;
    display: flex;
    justify-content: center;
    gap: 6px;

    @media screen and (min-width: 768px){
        padding-block: 37px 34px;
    }
}

.footer__contact {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: $secondory-color;
    text-align: center;
    padding-bottom: 47px;

    @media screen and (min-width : 768px) {
        display: flex;
        justify-content: center;
        padding-bottom: 56px;
    }

    @media screen and (min-width : 1200px) {
        padding-bottom: 70px;
    }
}


