.header {
    position: relative;
}

.header__button-menu {
    margin: 23px 28px 23px auto;
    width: 44px;
    height: 37px;
    background-color: black;
    cursor: pointer;

    &--disable {
        display: none;
    }

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.header__list {
    background: #F5F5F5;
    width: 182px;
    position: absolute;
    top: 37px;
    right: 27px;


    &--disable {
        display: none;
    }

    @media screen and (min-width: 768px) {
        position: static;
        top: 0;
        right: 0;
        width: 100%;
        background-color: white;
        display: flex;
        justify-content: center;
        gap: 34px;
    }

    @media screen and (min-width: 1200px) {
        gap: 68px;
    }
}

.header__list-item {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 11px;
    line-height: 22px;
    letter-spacing: 1.1px;
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
        margin-top: 41px;

        &:hover {
            & a {
                color: #57A4A4;
            }
        }
    }

    @media screen and (min-width: 1200px) {
        padding-left: 0;
        margin-top: 45px;
    }
}

.header__list-link {
    color: $primery-color;
    display: block;
    padding-left: 13px;
    padding-block: 5px 2px;

    &--active {
        background-color: #E5E5E5;
    }

    @media screen and (min-width: 768px) {
        padding-left: 0;
        padding-block: 0;


        &--active {
            background-color: white;
        }
    }

}

.header__banner-img {
    &--m {
        display: none;
    }

    &--l {
        display: none;
    }
}

.header__banner {
    margin-bottom: 38px;
    max-width: 100%;
    min-height: 150px;

    & img {
        width: 100%;
        padding-inline: 25px 28px;
    }

    @media screen and (min-width: 768px) {
        min-height: 261px;
        margin-bottom: 56px;
        margin-top: 43px;

        .header__banner-img--s {
            display: none;
        }

        .header__banner-img--m {
            display: block;
            padding-inline: 80px;
        }
    }


    @media screen and (min-width: 1200px) {
        @include container;
        min-height: 551px;
        margin-top: 51px;
        margin-bottom: 66px;

        .header__banner-img--m {
            display: none;
        }

        .header__banner-img--l {
            display: block;
            padding-inline: 0;
        }
    }
}