.instagram {
    padding-inline: $margin-left-s;

    @media screen and (min-width: 768px) {
        padding-inline: $margin-left-m;
        background-color: #f7f7f7;
    }

    @media screen and (min-width: 1200px) {
        padding-inline: 0;
    }
}

.instagram__title {
    @include title;
    margin-top: 77px;
    margin-bottom: 13px;

    @media screen and (min-width: 768px) {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 16px;
    }
}

.instagram__subtitle {
    display: none;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 13px;
    line-height: 22px;
    text-transform: uppercase;
    color: $primery-color;

    @media screen and (min-width: 768px) {
        display: flex;
    }
}

.instagram__title-m {
    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding-top: 47px;
        margin-bottom: 35px;
    }

    @media screen and (min-width: 1200px) {
        @include container;
        margin-bottom: 24px;
    }
}

.instagram__shots {
    padding-bottom: 42px;
    @media screen and (min-width: 768px) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        padding-bottom: 50px;
    }

    @media screen and (min-width: 1200px) {
        @include container;
        grid-template-columns: repeat(4, 1fr);
    }

}

.instagram__shots-item {
    width: 100%;
}

.instagram__shots-item-m {
    display: none;

    @media screen and (min-width: 768px) {
        display: block;
        width: 100%;
    }
}

.instagram__shots-item-l {
    display: none;

    @media screen and (min-width: 1200px) {
        display: block;
    }

}