.posts {
    padding-inline: $margin-left-s;

    @media screen and (min-width: 768px) {
        padding-inline: $margin-left-m;
        padding-bottom: 60px;
    }

    @media screen and (min-width: 1200px) {
        padding-inline: 0;
        @include container;
        padding-bottom: 69px;
    }
}

.posts__title {
    @include title;

    @media screen and (min-width: 768px) {
        font-size: 16px;
    }
}

.posts__item--grid-1 {
    grid-area: first;
}

.posts__item--grid-2 {
    grid-area: second;
}

.posts__item--grid-3 {
    grid-area: third;
}

.posts__item--grid-4 {
    grid-area: fourth;
}



.posts__item-wrapper {

    @media screen and (min-width: 1200px) {
        display: grid;
        grid-template-areas:
            "first third"
            "second fourth";
        gap: 32px;
        margin-top: 24px;
    }
}

.posts__item {
    padding-top: 28px;

    &:first-child {
        padding-top: 23px;
    }

    &--disable {
        display: none;
    }

    @media screen and (min-width: 768px) {
        display: flex;
        gap: 21px;
        padding-top: 32px;
        margin-top: 0;

        &--disable {
            display: flex;
        }
    }

    @media screen and (min-width: 1200px) {
        margin-inline: 0;
        padding-top: 0;
        &:first-child {
            padding-top: 0;
        }
    }
}

.posts__item-img {
    padding-bottom: 11px;

    @media screen and (min-width: 768px) {
        padding-bottom: 0;
    }
}

.posts__item-title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 30px;
    color: $primery-color;

    @media screen and (min-width : 768px) {
        font-size: 16px;
    }
}

.posts__item-subtitle {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
    color: $secondory-color;

    @media screen and (min-width : 768px) {
        font-size: 12px;
    }
}

.posts__item-content {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #5C5C5C;
    margin-top: 13px;
    text-align-last: left;

    &--disable {
        display: none;
    }

    @media screen and (min-width: 768px) {
        &--disable {
            display: block;
        }
    }
}