.header{
    display: flex;
    justify-content: space-between;
    padding-inline: 15px;
    background-color: gray;
}

.logoWrapper{
    display: flex;
    align-items: center;
    margin-block: 15px;
    gap: 2px;
}

.cartWrapper{
    display: flex;
    align-items: center;
    gap: 10px;
}


.starWrapper{
    position: relative;
}

.cart{
    position: relative;
}

.counter{
    width: 20px;
    height: 20px;
    text-align: center;
    position: absolute;
    border-radius: 50%;
    top: 0;
    right: -2px;
    background-color: black;
    color: wheat;
}