.container {
    width: 1460px;
    margin: 0 auto;
}

.background1 {
    background-image: url(../img/header-bg.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
}

.background2 {
    background-image: url(../img/parallax-bg.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
}

.background3 {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/header-bg.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 46px;
    align-items: center;
}

.header-phone {
    display: flex;
    align-items: center;
    font-family: 'Circe', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #D6AF76;
}

.header-phone-white {
    color: #FFFFFF;
}

.header-phone-number {
    margin-right: 39px;
}

.header-button-icon {
    padding-right: 10px;
}

.header-button {
    font-family: 'Circe', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #E4B564;
    border: 1px solid;
    padding: 10px 25px 10px 25px;
}

.heating-network {
    padding-bottom: 47px;
}

.heating-network-title {
    padding-top: 128px;
    font-family: 'Gilam', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    color: #FFFFFF;
}

.heating-network-subtitle {
    width: 1182px;
    margin-top: 41px;
    font-family: 'Gilam', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
}

.heating-network-content {
    margin-top: 41px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 468px);
    gap: 27px;
}

.heating-network-content-item1 {
    background-color: #634F2C;
    grid-column: 1/3;

}

.heating-network-content-item2 {
    background: #B4A385;
    grid-column: 3/5;

}

.heating-network-content-item3 {
    background: #E4B564;
    grid-column: 5/-1;

}

.heating-network-content-item4 {
    background: #635A4A;
    grid-column: 1/4;

}

.heating-network-content-item5 {
    background: #B08C4D;
    grid-column: 4/7;

}

.heating-network-content-general {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gilam', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    text-align: center;
    padding-inline: 44px;
}

.autopark-title {
    font-family: 'Gilam', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    color: #FFFFFF;
    margin-bottom: 94px;
}

.autopark {
    padding-bottom: 192px;
    padding-top: 47px;
}

.autopark-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 29px;
}

.autopark-grid-title {
    font-family: 'Gilam', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
}

.autopark-grid-description {
    font-weight: bold;
    font-family: 'Gilam', sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
}

.autopark-container {
    padding-top: 44px;
    padding-left: 50px;
}

.autopark-grid-item1 {
    height: 313px;
    background-color: #0E0E0E;
    margin-bottom: 24px;
}

.autopark-grid-item2 {
    height: 560px;
    background-color: #1F1F1F;
    ;
}

.autopark-grid-item3 {
    height: 439px;
    background-color: #242424;
    margin-bottom: 34px;
}

.autopark-grid-item4 {
    height: 405px;
    background-color: #E4B564;
}

.autopark-grid-item5 {
    height: 255px;
    background-color: #1F1F1F;
    margin-bottom: 26px;
}

.autopark-grid-item6 {
    height: 277px;
    background-color: #0E0E0E;
    margin-bottom: 26px;
}

.autopark-grid-item7 {
    height: 277px;
    background-color: #0A0909;
}

.autopark-grid-item4>.autopark-grid-title {
    color: #000000;
}

.autopark-grid-item7>.autopark-grid-title {
    font-weight: 700;
}

.our-project {
    padding-top: 172px;
    transition: 0.75s;
}

.our-project-container {
    display: flex;
    justify-content: space-between;
}

.our-project-title {
    font-family: 'Gilam', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    color: #FFFFFF;
}

.our-project-button {
    font-family: 'Circe', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #E4B564;
    background-color: #0E0E0E;
    padding: 10px 39px;
    border: 1px solid;
}

.our-project-grid {
    margin-top: 72px;
    display: grid;
    grid-template: repeat(2, 391px)/repeat(3, 1fr);
    cursor: pointer;
}

.project-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.our-project-item-description {
    text-align: center;
    padding-inline: 50px;
    font-family: 'Gilam', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    color: #FFFFFF;
    margin-top: 16px;
    position: absolute;
    bottom: -150px;
    transition: 1s;
}

.project-item:hover .our-project-item-description {
    bottom: 0;
    position: relative;
}

.project-item:hover {
    opacity: 0.76;
}


.project-description {
    font-weight: 600;
    text-align: center;
}

.our-project-item1 {
    background: #634F2C;
}

.our-project-item2 {
    background: #E8D2AB;
}

.our-project-item3 {
    background: #E4B564;
}

.our-project-item4 {
    background: #635A4A;
}

.our-project-item5 {
    background: #B08C4D;
}

.our-project-item6 {
    background: #634F2C;
}

.footer {
    height: 238px;
}