@mixin title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    color: $primery-color;
}

@mixin container {
    width: 1170px;
    margin: 0 auto;
}