@font-face {
    font-family: 'Futura PT Bold';
    ;
    src: url("../font/FuturaPT-Bold.woff2");
}

.container {
    width: 1000px;
    margin: 0px auto;
}


.background1 {
    background-image:  linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/background/bg1.jpg);
}

.background2 {
    background-image:  linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/background/bg2.jpg);
}

.background3 {
    background-image:  linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/background/bg3.jpg);
}

.background1,
.background2,
.background3 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}


.header-triagle {
    position: relative;
}

.companies-triangel {
    position: relative;
}

.header-triagle::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: auto;
    border-top: solid 80px #fff;
    border-left: solid 50vw transparent;
    border-right: solid 0vw transparent;
    transform: rotate(180deg);
}

.header-triagle::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: auto;
    border-top: solid 80px #fff;
    border-left: solid 0vw transparent;
    border-right: solid 50vw transparent;
    transform: rotate(180deg);
}


.companies-triangel::before {
    content: '';
    position: absolute;
    width: auto;
    border-top: solid 80px #fff;
    border-left: solid 50vw transparent;
    border-right: solid 50vw transparent;

}

.top-triangle {
    position: relative;
}

.bottom-triangle {
    position: relative;
}

.top-triangle::after {
    content: '';
    bottom: -207px;
    z-index: 1;
    position: absolute;
    width: auto;
    border-top: solid 80px #FFFFFF;
    border-left: solid 50vw transparent;
    border-right: solid 50vw transparent;
}


.bottom-triangle::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: auto;
    border-top: solid 80px #fff;
    border-left: solid 50vw transparent;
    border-right: solid 0vw transparent;
    transform: rotate(180deg);
}

.bottom-triangle::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: auto;
    border-top: solid 80px #fff;
    border-left: solid 0vw transparent;
    border-right: solid 50vw transparent;
    transform: rotate(180deg);

}

.wrapper {
    background-color: #fff;
    position: relative;
    top: 30px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 36px;
    color: #424F57;
    padding-block: 38px;
}

.header-logo>span {
    font-weight: 900;
    color: #14AFCA;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    column-gap: 25px;

}

.header-nav-item {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.75px;
    color: #3E4C4E;
    text-transform: uppercase;
}

.header-nav-item>a {
    transition-duration: .5s;
    transition-property: color;
}

.header-nav-item>a:hover {
    color: #14AFCA;
}

.header-title {
    font-family: 'Futura PT Bold', sans-serif;
    font-size: 52px;
    line-height: 75px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 149px;
    padding-bottom: 134px;
}

.section-title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 60px;
    text-align: center;
    color: #14AFCA;
    padding-top: 128px;
    text-transform: uppercase;
}

.section-subtitle {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 18px;
    line-height: 40px;
    letter-spacing: 0.9px;
    color: #424F57;
    text-align: center;
    margin-top: 15px;
}

.section-what>p {
    font-family: 'Roboto';
    line-height: 30px;
    text-align: center;
    color: #424F57;
    margin-top: 20px;
    margin-bottom: 90px;
}

.section-companies>h3 {
    color: #FFFFFF;
}

.section-companies-logo {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 120px 46px;
    padding-bottom: 100px;
}

.section-adobe {
    background-color: #fff;
    display: inline-block;
}

.section-adobe>img:first-child {
    padding-block: 18px;
    padding-left: 16px;
}

.section-adobe>img:last-child {
    padding-block: 30px;
}

.section-meet-people {
    display: flex;
    justify-content: space-between;
    text-align: center;
    column-gap: 55px;
    margin-top: 20px;
    margin-bottom: 128px;
    font-family: 'Roboto';
    font-size: 15px;
    line-height: 28px;
    color: #424F57;
}

.section-testimonials>h3 {
    color: #fff;
}

.section-testimonials>blockquote {
    font-family: 'Open  Sans';
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.8px;
    color: #D3CCCC;
    margin-top: 48px;
    margin-bottom: 28px;
}

.section-testimonials>cite {
    font-family: 'Open Sans';
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.45px;
    display: block;
    text-align: end;
    padding-bottom: 143px;
    color: #FFFFFF;
}

.section-why>p {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 30px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.75px;
    color: #424F57;
    margin-top: 40px;
    margin-bottom: 96px;
}

.footer {
    margin-bottom: 88px;
}

.footer>p {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.7px;
    margin-bottom: 88px;
}

.footer>p>span {

    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.8px;
}