.container {
    width: 1280px;
    margin: 0px auto;
}

.header-logo-aqua {
    color: #4bcaff;
}

.header-logo-link {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    color: #000;
    padding-top: 63;
}

.header-logo {
    padding-top: 63px;
}

.header-list {
    display: flex;
    justify-content: center;
    background-color: #35444F;
    margin-top: 38px;

}

.header-list-item {
    border: 1px solid white;
    padding: 26px 38px 19px 32px;
    background-color: #35444F;
    transition: 0.5s;
}

.header-list-item:hover {
    background-color: #222F3A;
}

.header-list-link {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}

.main {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
}

.main-navbar {
    width: 344px;
    display: flex;
    flex-direction: column;
}

.main-navbar-link {
    border-left: 1px solid black;
    border-right: 1px solid black;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    color: #485863;
    padding-top: 26px;
    padding-left: 44px;
    padding-bottom: 26px;
    transition: 0.5s;
}

.main-navbar-link:hover {
    background: #DBDBDB;
    padding-left: 60px;
    color: #35444F;
}

.main-navbar-link:first-child {
    border-top: 1px solid black;
}

.main-navbar-link:last-child {
    border-bottom: 1px solid black;
}

.main-content {
    width: 885px;
}

.main-content-img {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 529px;
    transition: 0.5s;

}

.main-content-img:hover {
    transform: scale(1.1);
}

.content-text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    margin-top: 37px;
}

.footer {
    display: flex;
    justify-content: space-between;
    background: rgba(99, 105, 110, 0.48);
    margin-top: 54px;
}

.footer-menu {
    display: flex;
    margin-left: 40px;
}

.footer-menu-item {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
    transition: 0.5s;
    padding: 21px 10px 13px;
    margin-bottom: 8px;   
}

.footer-menu-item:hover {
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
}

.footer-signature {
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.footer-signature-info {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #010101;
}