
html, body{
    margin: 0;
    height: 100%;
}

body {
    background-image: url(../img/1618566570_24-funart_pro-p-oboi-fon-chernoe-zvezdnoe-nebo-29.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
}

div {
    text-align: center;
	width: 60%;
	color: #FF0;
	transform: perspective(20px) rotate3d(-40, 0, 0, -3deg);
}

p {
    font-size: 70px;
    font-family: 'Roboto', sans-serif;
    animation: starWars 30s infinite linear;
}


@keyframes starWars {
    from {
        transform: translate(0, 300px)
    }to {
        transform: translate(0, -150%)
    }
}

audio {
    position: absolute;
    left: 0;
}